main {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	width: 100%;
	padding: 20px 0px;
	background-color: rgba(0, 0, 0, 0.5);
}

.weather-forecast {
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	justify-content: center;
}

@media screen and (min-width: 360px) {	
	.weather-today {
		display: flex;
		align-items: center;
		justify-content: center;
		width: 320px;
		height: 160px;
	}
	
	.weather-today img {
		width: 160px;
		height: 160px;
	}
	
	.weather-today div {
		display: flex;
		height: 160px;
		flex-direction: column;
		align-items: center;
		justify-content:space-around;
		width: 80px;
	}
	
	.weather-forecast {
		flex-direction: column;
	}
	
	.weather-forecast_half {
		display: flex;
		margin-top: 20px;
	}
	
	.weather-forecast_day {
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		margin: 0px 10px;
	}
	
	.weather-forecast_day img {
		width: 100px;
		height: 100px;
	}
}

@media screen and (min-width: 480px) {
	.weather-forecast_day {
		margin: 0px 20px;
	}
}

@media screen and (min-width: 720px) {
	main {
		flex-direction: row;
		align-items: center;
		justify-content: center;
	}
	
	.weather-today {
		margin-right: 20px;
	}
	
	.weather-forecast {
		flex-direction: column;
		margin-bottom: 20px;
	}
	
	.weather-forecast_day {
		margin: 0px;
	}
	
	.weather-today img {
		width: 240px;
		height: 240px;
	}
	
	.weather-forecast_day {
		width: 120px;
	}
}

@media screen and (min-width: 960px) {
	main {
		position: absolute;
		bottom: 0px;
	}
	
	.weather-today {
		margin-right: 40px;
	}
	
	.weather-forecast_day {
		width: 160px;
	}
}

@media screen and (min-width: 1200px) {
	.weather-today {
		margin-right: 80px;
	}
	
	.weather-forecast {
		flex-direction: row;
		margin: 0px;
	}
	
	.weather-forecast_day {
		justify-content: center;
		height: 240px;
	}
	
	.weather-forecast_day img {
		width: 120px;
		height: 120px;
	}
}
