header {
	display: flex;
	justify-content: space-between;
	height: 80px;
}

@media screen and (min-width: 360px) {
  header {
    width: 320px;
    margin-top: 40px;
  }
}

@media screen and (min-width: 480px) {
	header {
		width: 440px;
	}
}

@media screen and (min-width: 720px) {
	header {
		width: 640px;
    margin-top: 80px;
	}
}

@media screen and (min-width: 960px) {
	header {
		width: 880px;
	}
}

@media screen and (min-width: 1200px) {
	header {
    width: 960px;
		margin-top: 120px;
	}
}
