.weather-forecast {
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	justify-content: center;
}

@media screen and (min-width: 360px) {	
	.weather-forecast {
		flex-direction: column;
	}
	
	.weather-forecast_half {
		display: flex;
		margin-top: 20px;
	}
	
	.weather-forecast_day {
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		margin: 0px 10px;
	}
	
	.weather-forecast_day img {
		width: 100px;
		height: 100px;
	}
}

@media screen and (min-width: 480px) {
	.weather-forecast_day {
		margin: 0px 20px;
	}
}

@media screen and (min-width: 720px) {
	.weather-forecast {
		flex-direction: column;
		margin-bottom: 20px;
	}
	
	.weather-forecast_day {
    width: 120px;
		margin: 0px;
	}
}

@media screen and (min-width: 960px) {
	.weather-forecast_day {
		width: 160px;
	}
}

@media screen and (min-width: 1200px) {
	.weather-forecast {
		flex-direction: row;
		margin: 0px;
	}
	
	.weather-forecast_day {
		justify-content: center;
		height: 240px;
	}
	
	.weather-forecast_day img {
		width: 120px;
		height: 120px;
	}
}
