html {
  height: 100%;
}

body {
  height: 100%;
  display: flex;

  background: url(./assets/cloudy.jpg) no-repeat center center fixed;
  background-size: cover;

  color: white;

  margin: 0px;
}

main {
  display: flex;
  flex-direction: column;
  width: 100%;
}

#root {
  width: 100%;
}
